# Text type

## str

In [75]:
# assigning a string to a variable
eg_str="Python Basics"

In [76]:
print("Python Basics")
print(eg_str)

Python Basics
Python Basics

In [77]:
type(eg_str)

str

### functions you can do with strings

In [78]:
# get a charecter from the string
print(eg_str[4])

o

In [79]:
# get a range of charecter from string

print(eg_str[4:10])

on Bas

In [80]:
# check if there are charechter in the string
print("Basic" in eg_str)

True

In [81]:
if "Basic" in eg_str:
    print(eg_str)

Python Basics

# Boolean

### Booleans represent one of two values: True or False.

In [35]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

### function bool()

#### The bool() function allows you to evaluate any value, and give you True or False in return

##### Note - 
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [38]:
print(bool("Hello"))
print(bool(15))
print(bool(False))
print(bool(None))

True
True
False
False

# Numeric

## int, float and complex

In [82]:
# assign numeric to a variable
eg_int= 5    
eg_float= 2.8 
eg_comp= 1j

In [83]:
print(eg_int)

5

In [84]:
print(type(eg_int))
print(type(eg_float))
print(type(eg_comp))

<class 'int'>
<class 'float'>
<class 'complex'>

### function you can perform with numerics

In [85]:
# typecast- change the type of numeric
print(eg_float)
print("changes to the following when type casted into an int")
eg_ncast= int(eg_float)
print(eg_ncast)
print(type(eg_ncast))

2.8
changes to the following when type casted into an int
2
<class 'int'>

In [86]:
x=35j
y=str(x)
type(x)
print(y)

35j

In [87]:
# get random numbers
import random
x=5
y=72
print(random.randrange(x,y))

10

In [88]:
# any numeric functions
eg_fun= eg_float+eg_ncast*eg_int
print(eg_fun)

12.8

#### NOTE- priority will be given as follows-
parentasics (),
multiple or devide */,
plus minus +-

In [89]:
eg_fun= (eg_float+eg_ncast)*eg_int
print(eg_fun)

24.0

In [90]:
eg_fun= eg_float+(eg_ncast*eg_int)
print(eg_fun)

12.8

# Sequence
List, Tuples, Sets, Dictionaries

## Key difference

##### -List is a collection which is ordered and changeable. Allows duplicate members.

##### -Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

##### -Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

##### -Dictionary is a collection which is ordered** and changeable. No duplicate members.

## part one- List

In [10]:
# assign a list to a variable
eg_list = ["apple", "banana", "cherry", "mango", "melon"]

In [11]:
print(eg_list)

['apple', 'banana', 'cherry', 'mango', 'melon', 'mango']

In [93]:
type(eg_list)

list

### functions you can perform with Lists

In [94]:
# find length
print(len(eg_list))

5

In [95]:
# find what value is in an index or a rang 
print(eg_list[3])
print(eg_list[3:])
print(eg_list[:3])
print(eg_list[1:-1])

mango
['mango', 'melon']
['apple', 'banana', 'cherry']
['banana', 'cherry', 'mango']

In [96]:
# add another list to the extending one
tropical = [ "pineapple", "papaya"]
eg_list.extend(tropical)
print(eg_list)

['apple', 'banana', 'cherry', 'mango', 'melon', 'pineapple', 'papaya']

In [97]:
# insert a value
eg_list.insert(1, "berry")
print(eg_list)

['apple', 'berry', 'banana', 'cherry', 'mango', 'melon', 'pineapple', 'papaya']

In [98]:
# change a value
eg_list[1] = "blackberry"
print(eg_list)

['apple', 'blackberry', 'banana', 'cherry', 'mango', 'melon', 'pineapple', 'papaya']

In [99]:
# remove a value
eg_list.remove("banana")
print(eg_list)

['apple', 'blackberry', 'cherry', 'mango', 'melon', 'pineapple', 'papaya']

## part 2- Tuples

##### NOTE - you cant have a single value in a tuple

In [8]:
# assign a tuple to a variable
eg_tuple = ("apple", "banana", "cherry")

In [9]:
print(eg_tuple)

('apple', 'banana', 'cherry', 'banana')

In [102]:
type(eg_tuple)

tuple

### function you can perform with tuples

In [103]:
# find what value is in an index or a rang 
print(eg_tuple[2])
print(eg_tuple[1:])
print(eg_tuple[:1])
print(eg_tuple[1:-1])

cherry
('banana', 'cherry')
('apple',)
('banana',)

In [104]:
# add a value by adding a new tuple


y = ("orange",)
eg_tuple += y

print(eg_tuple)

('apple', 'banana', 'cherry', 'orange')

In [105]:
# unpacking a tuple:- which means you can extract the values back into variables
# the * will assign the rest of the values to the given variable
(red, yellow, *pink) = eg_tuple
print(red)
print(yellow)
print(pink)
print(orange)

apple
banana
['cherry', 'orange']
orange

## part 3- Sets

##### NOTE- unlike tuple; sets will not take in duplicate value

In [4]:
# assign a set to a variable
eg_set = {"apple", "banana", "cherry"}

In [5]:
print(eg_set)

{'cherry', 'apple', 'banana'}

In [7]:
# sets dont take in duplicate values
thisset = {"apple", "banana", "cherry","banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [12]:
type(eg_set)

set

### functions you can perform with sets

In [18]:
# add an item to the set
eg_set.add("orange")
print(eg_set)

# add items from another set to the existing set
thisset.update(eg_set)
print(thisset)

# remove items from set
eg_set.remove("banana")
print(eg_set)

{'orange', 'cherry', 'apple', 'banana'}
{'orange', 'cherry', 'banana', 'apple'}
{'orange', 'cherry', 'apple'}

In [19]:
# loop sets
for x in thisset:
  print(x)

orange
cherry
banana
apple

In [21]:
# join two sets into a 3rd set
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 3, 'a', 'c'}

## part-4 Dictionaries

##### Dictionaries are used to store data values in key:value pairs.

In [28]:
# defining a dictionary
eg_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [29]:
print(eg_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [32]:
print(type(eg_dict))

<class 'dict'>

In [33]:
# printing a perticular key
print(eg_dict["brand"])

Ford

In [34]:
# Duplicate values will overwrite existing values
eg1dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(eg1dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

###### functions on dictionary added to the "Sequence- Dictionary" file